body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background-color: rgba(47, 110, 153, 0.404);
    color: #fff;
    margin-top: 2vh;
    width: 80vw;
    height: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 40px;
    padding: 20px;
    position: fixed;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    z-index: 100;
}

.header .logo {
    width: 250px;
    height: auto;
}

.tabs {
    width: 100%;
    text-align: right;
    font-family: "dm-sans";
    font-weight: 400;
    font-size: 30px;
}

.section1 {
    height: 100vh;
    background-image: url(assets/backgroundblobs.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section1 img {
    margin: 100px;
}

.mockupsection1 {
    height: 650px;
}

.logosection1 {
    height: 400px;
}

.section2 {
    height: 120vh;
    background: linear-gradient(to bottom, #181818, #0B153E);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
}

.contentinside {
    position: relative;
    z-index: 2;
    text-align: center;
}

.voidyimage {
    position: relative;
    z-index: 2;
}

.voidyimage img {
    width: 28vw;
    height: auto;
}

.voidylogo img {
    height: auto;
    width: 23vw;
}

.color {
    height: 100vh;
    width: 100vh;
    background-image: radial-gradient(closest-side, rgba(0, 255, 191, 0.247), #00000000);
    position: absolute;
    bottom: 0;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.section3 {
    height: 100vh;
    background-image: url(assets/backgroundblobs.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.containersection3 {
    text-align: center;
}

.apps {
    width: 65vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20vh);
}

#mobile {
    display: none;
}

.section4 {
    height: 100vh;
    background-image: url(assets/backgroundblobs.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containersection4 {
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containersection4 h1 {
    font-family: "dm-sans";
    font-weight: 400;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}

.containersection4 button {
    background-image: linear-gradient(0deg, rgba(130,172,255,1) 0%, rgba(0,148,255,1) 100%);;
    width: 26vw;
    height: 7vh;
    border: none;
    border-radius: 90px;
    font-family: "dm-sans";
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: transform 0.2s ease-in-out;
}

.containersection4 button:hover {
    transform: scale(1.05);
}

.containersection4 p {
    font-family: "dm-sans";
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {

    .logocontainer {
        display: flex;
        justify-content: center;
    }
  
      .section1 img {
        margin: 0px;
      }
  
      .mockupsection1 {
        height: 60vh;
      }
  
      .logosection1 {
        padding-top: 0vh;
        height: 30vh;
      }

    .voidylogo img, .voidyimage img {
        width: 40vw;
    }

    .apps {
        transform: translate(-50%, 20vh);
        height: 70vh;
        width: auto;
    }

    #mobile {
        display: block;
        width: 90vw;
        height: auto;
    }

    #normal {
        display: none;
    }

    .section3 {
        height: 40vh;
    }

    .containersection4 button {
        width: 80vw;
    }
}

@media screen and (max-width: 800px) {
    .header {
        display: none;
    }

    .logocontainer {
        display: flex;
        justify-content: center;
    }

    .section1 {
        flex-direction: column;
      }
  
      .section1 img {
        margin: 0px;
      }
  
      .mockupsection1 {
        height: 50vh;
        width: auto;
      }
  
      .logosection1 {
        padding-top: 0vh;
        height: 25vh;
        width: auto;
      }

    .voidylogo img, .voidyimage img {
        width: 80vw;
        height: auto;
    }

    .apps {
        transform: translate(-50%, 35vh);
        width: 90vw;
        height: auto;
    }

    #mobile {
        display: block;
        width: 90vw;
        height: auto;
    }

    #normal {
        display: none;
    }
}

@font-face {
    font-family: DM-sans;
    font-weight: 400;
    src: url(assets/DMSans_18pt-Medium.ttf);
  }